:root {
    /* colours */
    --razzmatazz: hsl(334, 85%, 52%);
    --razzmatazz-dark: hsl(334, 82%, 15%);
    --razzmatazz-transparent: hsla(334, 85%, 52%, 0);

    --cerulean: hsl(195, 100%, 49%);
    --cerulean-light: hsl(195, 89%, 78%);
    --cerulean-dark: hsl(195, 100%, 13%);

    --lavender: hsl(258, 66%, 67%);
    --lavender-light: hsl(258, 65%, 84%);
    --lavender-dark: hsl(258, 43%, 25%);

    --rose: hsl(322, 77%, 62%);
    --rose-light: hsl(322, 93%, 84%);
    --rose-dark: hsl(322, 51%, 17%);

    --turquoise: hsl(178, 63%, 49%);
    --turquoise-light: hsl(178, 90%, 81%);
    --turquoise-dark: hsl(178, 93%, 11%);

    --off-white: rgba(255, 255, 255, 0.85);
    --off-black: rgba(0, 0, 0, 0.85);
    --lighten: rgba(255, 255, 255, 0.15);
    --lighten-more: rgba(255, 255, 255, 0.3);
    --darken: rgba(0, 0, 0, 0.15);
    --darken-more: rgba(0, 0, 0, 0.3);

    --background: hsl(195, 95%, 97%);
    --text: var(--off-black);
    --faint: var(--darken-more);
    --very-faint: var(--darken);

    --link: hsl(195, 91%, 33%);
    --visited: hsl(316, 32%, 49%);
    --active: var(--razzmatazz);

    /* sizes */
    --tiny: 0.65rem;
    --small: 0.8rem;
    --medium: 1rem;
    --large: 1.25rem;
    --larger: 1.5625rem;
    --largest: 2rem;
    --huge: 2.5rem;

    --max-width: 38rem;

    /* durations */
    --short: 100ms;
    --long: 400ms;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: hsl(192, 15%, 9%);
        --text: var(--off-white);
        --faint: var(--lighten-more);
        --very-faint: var(--lighten);

        --link: hsl(195, 91%, 48%);
        --visited: hsl(316, 32%, 55%);
    }
}

.cerulean {
    --local: var(--cerulean);
    --local-light: var(--cerulean-light);
    --local-dark: var(--cerulean-dark);
}

.lavender {
    --local: var(--lavender);
    --local-light: var(--lavender-light);
    --local-dark: var(--lavender-dark);
}

.rose {
    --local: var(--rose);
    --local-light: var(--rose-light);
    --local-dark: var(--rose-dark);
}

.turquoise {
    --local: var(--turquoise);
    --local-light: var(--turquoise-light);
    --local-dark: var(--turquoise-dark);
}
